.menu-item__box {
    margin-bottom: 5px;
    display: flex;
    width: 9.3rem;
    justify-content: space-between;
  }
  .menu-item__box .item-box {
    text-align: center;
    flex: 1;
  }
  .menu-item__box .item-box .item-box__img {
    width: 1.3056rem /* 141/108 */;
    height: 1.3056rem /* 141/108 */;
  }
  .menu-item__box .item-box .item-box__text {
    height: 0.5093rem /* 55/108 */;
    margin: auto 0;
    font-size: 0.287rem /* 31/108 */;
    font-family: \.PingFangSC-Light;
  }